-r requirements.txt
beautifulsoup4
sphinx
sphinx-autobuild
m2r
recommonmark
pyyaml
coverage>=4.4.1
coveralls>=1.2.0
flake8>=3.4.1
flake8-docstrings>=1.1.0
flake8-polyfill>=1.0.1
flask-debugtoolbar>=0.10.1
isort>=4.2.15
mccabe>=0.6.1
pep8-naming>=0.4.1
pydocs>=0.2
pydocstyle>=2.0.0
Pygments>=2.2.0
pytest<3.7.0
pytest-cov>=2.5.1
pytest-mock
testpath>=0.3.1
yapf>=0.17.0
robotframework>=3.0.2
robotframework-seleniumlibrary>=3.0.0
pycrypto>=2.6.1
python-dotenv>=0.6.3
Faker
Online-W3C-Validator>=0.3.2
twine
fakeredis
