-r test_requirements.txt
mistune<2.0.0
sphinx
sphinx-autobuild
m2r
recommonmark
pyyaml
flask-debugtoolbar>=0.10.1
mccabe>=0.6.1
pep8-naming>=0.4.1
# pydocs>=0.2
pydocstyle>=2.0.0,<4.0.0
Pygments>=2.2.0
# robotframework>=3.0.2
# robotframework-seleniumlibrary>=3.0.0
# pycrypto>=2.6.1
python-dotenv>=0.6.3
# Online-W3C-Validator>=0.3.2
git+https://github.com/nad2000/W3C-Validator
# twine
coloredlogs
#black
black==19.3b0
#neovim
mypy<2.0.0
isort>=4.3.21
