version: '3.5'

services:

  db:
    image: postgres:11.4
    environment:
      - PGPASSWORD
      - POSTGRES_PASSWORD="${PGPASSWORD:-p455w0rd}"
    domainname: ${DOMAINNAME:-orcidhub.org.nz}
    hostname: db
    ports:
      - "${PGPORT:-5432}:5432"
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - ./conf/init-user-db.sh:/docker-entrypoint-initdb.d/init-user-db.sh
      - ./pgdata:/var/lib/postgresql/data
      - ./backup:/backup
      - ./archive:/archive
      - ${HOME}:${HOME}
    user: "${UID:-500}:${GID:-500}"
    restart: always

  app:
    depends_on:
      - db
      - redis
    image: orcidhub/app-dev:5.1
    environment:
      - ENV
      # - SHIB_SP_DOMAINNAME
      - MAIL_DEFAULT_SENDER
      - SECRET_KEY
      - ORCID_CLIENT_ID
      - ORCID_CLIENT_SECRET
      - SENTRY_DSN
      - LOAD_TEST
      - EXTERNAL_SP
    domainname: ${DOMAINNAME:-orcidhub.org.nz}
    hostname: app
    ports:
      - "${HTTP_PORT:-80}:80"
      - "${HTTPS_PORT:-443}:443"
    volumes:
      - .:/src
      - .:/var/www/orcidhub/
      - ./run-app:/usr/local/bin/run-app
      - ./app.conf:/etc/httpd/conf.d/ZZ-app.conf
      - ./tuakiri-test-metadata-cert.pem:/etc/shibboleth/tuakiri-test-metadata-cert.pem
      - ./tuakiri-metadata-cert.pem:/etc/shibboleth/tuakiri-metadata-cert.pem
      - ./.keys:/.keys
      - ./conf:/conf
    restart: always
    networks:
      default:
        ipv4_address: ${SUBNET:-172.33}.0.99

  redis:
    image: redis
    volumes:
      - ./data/redis:/data
    restart: always
    networks:
      default:
        ipv4_address: ${SUBNET:-172.33}.0.88

  worker:
    image: orcidhub/app-dev:5.1
    depends_on:
      - redis
      - db
    command: ["./worker.sh"]
    environment:
      - ENV
      - MAIL_DEFAULT_SENDER
      - SECRET_KEY
    volumes:
      - .:/src
    restart: always

  scheduler:
    image: orcidhub/app-dev:5.1
    depends_on:
      - redis
      - db
    command: ["./scheduler.sh"]
    environment:
      - ENV
    volumes:
      - .:/src
    restart: always

networks:
  default:
    ipam:
      driver: default
      config:
        - subnet: ${SUBNET:-172.33}.0.0/16
