# pip install -U -r requirements.txt
oauthlib==2.1.0
requests
requests-oauthlib==1.0.0
psycopg2-binary
peewee>=2.10.0,<3.0.0
peewee-validates
python-slugify
emails
wtf-peewee==0.2.6
pycountry
html2text
tablib
openpyxl>=2.4.9,<2.5.0
pyyaml
pykwalify
Flask
#flask-admin
# NB! prefix with a single space for pbr!
 git+https://github.com/nad2000/flask-admin/#egg=flask_admin
flask-login
Flask-WTF
flask-peewee==0.6.7
Flask-OAuthlib==0.9.5
raven[flask]
sentry-sdk[flask]
flask-peewee-swagger>=1.1.5
flask-limiter>=1.0.0,<2.0.0
flask-swagger
flask-restful
jsonschema>=2.6.0,<3.0.0
validators
croniter==0.3.20
redis<4.0.0
rq<0.14.0
rq-scheduler<0.10
Flask-RQ2[cli]<19.0
rq-dashboard<0.5.0
zipstream
