# pip install -U -r requirements.txt
requests
requests_oauthlib
psycopg2
peewee
peewee-validates
flask-login
Flask-WTF
flask_mail  # TODO: remove at some stage
emails
flask-admin
python-slugify
flask-script
wtf-peewee
pycountry
html2text
tablib
raven
raven[flask]
pyyaml
pykwalify
flask-peewee
Flask-OAuthlib
flask-swagger
./orcid_api

