{% extends "admin/model/edit.html" %}

{% block head_tail %}
  {{super()}}
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
{% endblock %}

{% block navlinks %}
  <ul class="nav nav-tabs">
    <li>
      <a href="{{ return_url }}">{{ _gettext('List') }}</a>
    </li>
    {%- if admin_view.can_create -%}
    <li>
      <a href="{{ get_url('.create_view', url=return_url) }}">{{ _gettext('Create') }}</a>
    </li>
    {%- endif -%}
    <li>
      <a data-toggle="tab"  href="#edit-tab">{{ _gettext('Edit') }}</a>
    </li>
    <li class="active">
      <a data-toggle="tab" href="#user-orgs-tab">{{ _gettext('Organisations...') }}</a>
    </li>
    {%- if admin_view.can_view_details -%}
    <li>
      <a href="{{ get_url('.details_view', id=request.args.get('id'), url=return_url) }}">{{ _gettext('Details') }}</a>
    </li>
    {%- endif -%}
  </ul>
{% endblock %}

{% block edit_form %}
  <div class="tab-content">
    <div id="edit-tab" class="tab-pane">
      <h3>Details</h3>
      {{ lib.render_form(form, return_url, extra(), form_opts) }}
    </div>
    <div id="user-orgs-tab" class="tab-pane active">
      <h3>User Organisations</h3>
      <div class="form-group">
        <label for="organisation" class="col-md-2 control-label">Organisation
          &nbsp;
        </label>
        <div class="col-md-10">
          <!--select class="form-control" data-allow-blank="1" data-allow-clear="true" data-placeholder="Please select Organisation" data-role="select2-ajax" data-url="{{url_for('user.ajax_lookup', name='organisation')}}" id="user-orgs" name="user-orgs" type="hidden">
          </select -->
          <input class="form-control" data-allow-blank="1" data-allow-clear="true" data-placeholder="Please select Organisation" data-role="select2-ajax" data-url="{{url_for('user.ajax_lookup', name='organisation')}}" id="user-orgs" name="user-orgs" type="hidden">
      </div>

      <table class="table table-striped table-bordered table-hover model-list">
        <thead>
          <tr>
            <th class="column-header">
              Name
            </th>
            <th class="column-header">
              Is Admin
            </th>
            <th class="column-header">
              Is Tech.Contact
            </th>
          </tr>
        </thead>
        {% raw %}
        <tbody ng-app="userAdmin" ng-controller="userOrgs">
          <tr ng-repeat="r in user_orgs">
            <td class="col-name">{{r.name}}</td>
            <td class="col-name">{{r.is_admin}}</td>
            <td class="col-name">{{r.is_tech_contact}}</td>
          </tr>
        </tbody>
        {% endraw %}
      </table>
    </div>
  </div>
{% endblock %}

{% block tail_js %}
  {{ super() }}
  <script>
$('#user-orgs').on("change", function(e) {
   console.info(e);
});

var app = angular.module("userAdmin", []);
app.controller("userOrgs", function($scope, $http) {
  $http({
    method: "GET",
    url: '{{url_for("user_orgs", user_id=request.args.get("id"))}}'
  }).then(function success(response) {
    $scope.user_orgs = response.data["user-orgs"];
  }, function error(response) {
    $scope.error = response.data.error;
  });
});
  </script>
{% endblock %}
