{# extention of Flask-Admin base template 
for integration of the common menu and header.
The extension based on the version v1.5.#}
{% extends 'admin/base.html' %}
{% block head_css %}
  {{ super() }}
  <link href="/static/css/sticky-footer.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
{% endblock %}
{% block page_body %}
  {% include 'header.html' %}
  <div class="container">

    {% block messages %}
      {{ layout.messages() }}
    {% endblock %}

    {# store the jinja2 context for form_rules rendering logic #}
    {% set render_ctx = h.resolve_ctx() %}

    {% block body %}{% endblock %}

  </div>
{% endblock %}
{% block tail_js %}
  {{ super() }}
  <script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip(); 
  $("#{{request.endpoint}}").addClass("active");
});
  </script>
{% endblock %}
