{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h2 class="display-2">Welcome to NZ ORCiD Hub</h2>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <div class="center-block">
        <a class="btn btn-primary" href="{{ url_for('shib_login') }}" role="button">Login via Tuakiri</a>
        <a class="btn btn-success" href="#" role="button">Login via ORCiD</a>
      </div>
    </div>
  </div>
{% endblock %}
