{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <p>Hi <strong>{{current_user.name}},</strong>
    (Organisation: <strong>{{current_user.organisation.name}}</strong>)
    </p>
    <p>
    <a id="connect-orcid-button" class="btn btn-default" href="{{orcid_url}}" role="button">
      <img id="orcid-id-logo" src="https://orcid.org/sites/default/files/images/orcid_24x24.png" width='24' height='24' alt="ORCID logo"/>&nbsp;Take me to ORCiD iD</a>
    </p>
  </div>
{% endblock %}
