<h2 class="display-2">Affiliation Process Update</h2>

<p>Processing of uploaded affiliation data file <strong>{{filename}}</strong>
was completed successfully, with {{row_count}} affiliation(s) written
in {{orcid_rec_count}} ORCID record(s).
There were {{error_count}} error(s).</p>

<p>You can export a csv of the results with both ORCID iD and put codes by clicking this link:
<a href="{{export_url}}">{{export_url}}</a></p>

<p>If you've prefer the file in an alternative format, just visit the Hub and navigate to
Affiliations>Uploaded Tasks and view this task. From this page, you can select an export
from any of a wide range of data formats</p>
