{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <h2 class="display-2">Welcome To The NZ ORCID Hub</h2>
    <p>The Hub connects New Zealand ORCID Consortium member organisations with their researchers in ORCID.</p>
    <p>Institutions can use the Hub to connect (with permission) to  their staff and students’ ORCID records.<br>Staff and students can use the hub to give permission to their institution to access their ORCID records.</p>
    <p>For more information on the Hub's background and development please go to the <a href="https://royalsociety.org.nz/orcid-in-new-zealand/new-zealand-orcid-consortium/who-is-involved-with-the-new-zealand-orcid-consortium/new-zealand-orcid-hub/">Hub page</a> of the Royal Society Te Apārangi’s website.</p>
  </div>
{% endblock %}
