{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1>Webservice currently unavailable <small>Error: <br />{{error_message}}</small></h1>
      <p class="lead">An unexpected condition was encountered.<br />
      Our service team has been dispatched to bring it back online.</p>
    </div>
    {% if trace %}
      <div class="container">
        <h1>Details</h1>
        <pre>{{trace}}</pre>
      </div>
    {% endif %}
  </div>
{% endblock %}
