{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h2 class="display-2">Welcome to the NZ ORCID Hub</h2>
      <p>A service provided to link New Zealand's researchers with their organisations and funders in ORCID.</p>
      <!-- div class="center-block">
        <a class="btn btn-primary" href="{{ship_login_url}}" role="button">Login via Tuakiri</a>
        <a class="btn btn-success" href="#" role="button">Login via ORCiD</a>
        </div -->
        <div class="login-blocks">
          <a href="{{login_url}}">
            <div class="tuakiri">
              <img alt="Login via Tuakiri" src="{{image('REANNZ_Tuakiri_service.png')}}">
              <div class="login-button">Login via Tuakiri</div>
            </div>
          </a>
        </div>
        <p><br><i>NB: A Tuakiri login will, with your permission, automatically
          add your staff or student relationship to your ORCID record.</i></p>
    </div>
  </div>
{% endblock %}
