{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-2">Welcome to the NZ ORCID Hub</h1>
      <!-- div class="center-block">
        <a class="btn btn-primary" href="{{ship_login_url}}" role="button">Login via Tuakiri</a>
        <a class="btn btn-success" href="#" role="button">Login via ORCiD</a>
        </div -->
        <div class="jumbotron" style="padding-top: 10px">
          <div class="row">
            <div class="col-md-6">
              <h2>Login using your institutional credentials</h2>
            </div>
            {% if config.ENV != "prod" %}
            <div class="col-md-6">
              <h2>Login using your ORCID record</h2>
            </div>
            {% endif %}
          </div>
          <div class="row">
            <div class="col-md-6">
              <img alt="Login via Tuakiri" src="{{image('REANNZ_Tuakiri_service.png')}}" style="width:50%">
            </div>
            {% if config.ENV != "prod" %}
            <div class="col-md-6">
              <img alt="Login via Orcid" src="{{image('orcid-logo.png')}}" style="width:50%">
            </div>
            {% endif %}
          </div>
          <div class="row">
            <div class="col-md-6">
              <small><p>If you're from a Tuakiri-member organisation, the best experience is gained by using your home institution login</p></small>
            </div>
            {% if config.ENV != "prod" %}
            <div class="col-md-6">
              <small><p>You can <b>only</b> log in using your ORCID record if you've already linked your ORCID iD through the Hub</p></small>
            </div>
            {% endif %}
          </div>

          <div class="row">
            <div class="col-md-6">
              <a href="{{login_url}}">
                <div class="tuakiri" style="text-align:center">
                  <div class="login-button">Login&nbsp;via&nbsp;Tuakiri</div>
                </div>
              </a>
            </div>

            {% if config.ENV != "prod" %}
              <div class="col-md-6">
                <a href="{{orcid_login_url}}">
                  <div class="orcid">
                    <div class="login-button">Login&nbsp;via&nbsp;Orcid</div>
                  </div>
                </a>
              </div>
            {% endif %}
          </div>
          <div class="row">
            <div class="col-md-6">
              <small><p>This login takes you to the Tuakiri Discovery Service where you can select your Home Organisation</p></small>
            </div>
            {% if config.ENV != "prod" %}
            <div class="col-md-6">
              <small><p>This login takes you to ORCID to let the Hub retrieve your ORCID iD</p></small>
            </div>
            {% endif %}
          </div>

          <div class="onboarding-block" style="padding-top: 20px">
            {% if org_onboarded_info %}
              <p>Organisations using the Hub:</p>
              <table>
                {% for v in org_onboarded_info.items() %}
                  <tr>
                    <td class="name">{{ v.0 }}</td>
                  </tr>
                {% endfor %}
              </table>
            {% endif %}
          </div>
        </div>
  </div>
  </div>
{% endblock %}
