{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <p>Kia ora <strong>{{current_user.name}}</strong>
        from <strong>{{current_user.organisation.name}}</strong>.
    </p>
    {% if error=='access_denied' %}
        <p>The NZ ORCID Hub would like to verify your employment/education in your ORCID record</p>
        <div class="jumbotron">
            <p>I would like {{current_user.organisation.name}} to connect to my ORCID record to assert my employment/education, click here to: <a id="connect-orcid-button_write_permission_error" class="btn btn-default" href="{{orcid_url_write | safe}}" role="button"><img id="orcid-id-logo_write_permission_error" src="https://orcid.org/sites/default/files/images/orcid_24x24.png"
                         width='24' height='24' alt="ORCID logo"/>&nbsp;grant&nbsp;write&nbsp;permission</a></p><hr>
            <p>I would like {{current_user.organisation.name}} to be able to read my trusted-party information in my ORCID record but not to write to it, click here to: <a id="connect-orcid-button_read_permission" class="btn btn-default" href="{{orcid_url_read_limited | safe}}" role="button"><img id="orcid-id-logo_read_limited" src="https://orcid.org/sites/default/files/images/orcid_24x24.png"
                         width='24' height='24' alt="ORCID logo"/>&nbsp;grant&nbsp;read-limited&nbsp;permission</a></p><hr>
            <p>I would like {{current_user.organisation.name}} to know my ORCID iD and read my public ORCID record only, click here to: <a id="connect-orcid-button_authenticate" class="btn btn-default" href="{{orcid_url_authenticate | safe}}" role="button"><img id="orcid-id-logo_authenticate" src="https://orcid.org/sites/default/files/images/orcid_24x24.png"
                         width='24' height='24' alt="ORCID logo"/>&nbsp;authenticate&nbsp;your&nbsp;ORCID id</a></p><hr>
            <p>I don't want {{current_user.organisation.name}} to know my ORCID iD, click here to: <a id="logout-orcidhub-button" class="btn btn-default" href="{{url_for('logout')}}" role="button"><img id="orcidhub-id-logout" src="{{url_for('static', filename='images/logo.png')}}"
                         width='24' height='24' alt="ORCIDHub logo"/>&nbsp;logout&nbsp;of&nbsp;ORCID Hub</a></p>
        </div>
    {% else %}
        <p>
            <a id="connect-orcid-button_write_permission" class="btn btn-default" role="button" onclick="logoutOrcid()">
                <img id="orcid-id-logo_write_permission" src="https://orcid.org/sites/default/files/images/orcid_24x24.png"
                     width='24' height='24' alt="ORCID logo"/>&nbsp;Give Your Organisation Permission To Access Your ORCID Record</a>
        </p>
    {% endif %}
    <script>
    function logoutOrcid() {
        $.ajax({
            url: "{{orcid_base_url}}" + "userStatus.json?logUserOut=true",
            dataType: 'jsonp',
            success: function(result,status,xhr) {
                window.location="{{orcid_url_write | safe}}"
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });}
    </script>
</div>
{% endblock %}
