{% macro render_field(f) %}
<div class="form-group">
  <label for="{{ f.id }}">{{ f.label }}{% if f.flags.required %}&nbsp;<strong style="color: red">*</strong>{% endif %}</label>
  {{ f(class="form-control", id=f.id, placeholder=f.label.text, **kwargs)|safe }}
  {% if f.errors %}
    <ul class=errors>
      {% for error in f.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endmacro %}

{% macro orcid_url(user, full_url=False, target="_blank") -%}
{%- if user.orcid -%}
<a href="{{user|orcid}}" target="{{target}}" class="orcid">
  <img alt="ORCID iD" src="{{url_for('static', filename='images/orcid_16x16.gif')}}" style="width:16px; height:16px; margin-right:4px">{{user|orcid if full_url else config.ORCID_BASE_URL.split('/', 2)[2] + user.orcid}}</a>
{%- else %}&nbsp;{% endif -%}
{%- endmacro %}
