{% extends "base.html" %}
{% from "macros.html" import render_field %}

{% block content %}
  <h1>Organisation Confirmation Form</h1>
  <form method="POST" name="confirm">
    {{ form.hidden_tag() }}

    {{ render_field(form.orgName) }}
    {{ render_field(form.orgEmailid) }}
    <div class="form-group">
      <p>
      <a id="connect-orcid-button" class="btn btn-default" href="{{client_secret_url}}" role="button">
        <img id="orcid-id-logo" src="https://orcid.org/sites/default/files/images/orcid_24x24.png" width='24'
                                height='24' alt="ORCID logo"/>&nbsp;Take me to ORCID to obtain my Client ID and Client Secret </a>
      </p>
    </div>
    {{ render_field(form.orgOricdClientId) }}
    {{ render_field(form.orgOrcidClientSecret) }}
    {{ render_field(form.country) }}
    {{ render_field(form.city) }}
    {{ render_field(form.disambiguation_org_id, **{"data-toggle": "tooltip", "title": "The best id to use for your organisation, e.g. one of the following: RINGGOLD, FUNDREF, NZBN or EON"}) }}
    {{ render_field(form.disambiguation_org_source, **{"data-toggle": "tooltip", "title": "The source of your organisation's disambiguation ID"}) }}
    <button type="submit" class="btn btn-default" value="Confirmation">Confirmation</button>
  </form>
{% endblock %}
