{% extends "layout.html" %}

{% macro render_field(f) %}
<div class="form-group">
  <label for="{{ f.id }}">{{ f.label }}{% if f.flags.required %}&nbsp;<strong style="color: red">*</strong>{% endif %}</label>
  {{ f(class="form-control", id=f.id, placeholder=f.label.text, **kwargs)|safe }}
  {% if f.errors %}
    <ul class=errors>
      {% for error in f.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endmacro %}

{% block content %}
  <form method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-9 col-sm-8 col-xs-12">
        <h1>Organisation Info Upload</h1>
        {{ form.hidden_tag() }}
        {{ render_field(form.org_info) }}
        <button type="submit" class="btn btn-primary" value="Save">Upload</button>
      </div>
    </div>
  </form>
{% endblock %}
