{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <p>
    <strong>{{ user.name}}</strong>, your ORCID iD <a href="{{orcid_url}}">{{orcid_url}}</a>
    is now linked with <strong>{{ user.organisation.name }}</strong>.
    </p>
    {% if person.get("biography") and person["biography"].get("content") %}
      <div class="row">
        <h2>Biography</h2>
        <div class="col-lg-12" style="white-space: pre-wrap">{{person["biography"].get("content")|safe}}
          <pre>{{person|tojson(indent=4)}}</pre>
        </div>
      </div>
    {% endif %}
    {% if educations %}
      <div class="row">
        <h2>Education Summary</h2>
        <div class="col-lg-12">
          <pre>{{educations|tojson(indent=4)}}</pre>
        </div>
      </div>
    {% endif %}
    {% if employments %}
      <div class="row">
        <h2>Employment Summary</h2>
        <div class="col-lg-12">
          <pre>{{employments|tojson(indent=4)}}</pre>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
