{% extends "layout.html" %}
{% block content %}
  <div class="jumbotron">
    <p>
    <strong>Welcome {{ user.name}}</strong>,</p>
    <div class="text-center">
    <div class="body-message">
        <h3>Your ORCID iD is <a href={{profile_url + user.orcid}}><span>{{profile_url + user.orcid}}</span></a></h3>
        <p>Your ORCID iD is now linked with <strong>{{ user.organisation.name }}</strong>.</p>
        <p>You can start using your ORCID iD on manuscript submissions and grant applications immediately</p>
        <button class="connect-orcid-button" onclick="location.href='{{profile_url}}'" style="height: 50px;width: auto;">
            <img class="orcid-id-logo" src="https://orcid.org/sites/default/files/images/orcid_24x24.png" width="24" height="24" alt="ORCID logo" /> Manage ORCID Record
        </button>
        <button class="connect-orcid-button" onclick="location.href='https://groups.google.com/a/aucklanduni.ac.nz/forum/#!forum/nz-orcid-hub-gg'" style="height: 50px;width: auto;">
            <img class="orcid-id-logo" src="https://orcid.org/sites/default/files/images/orcid_24x24.png" width="24" height="24" alt="ORCID logo" /> Help &amp; Support
        </button>
    </div>
</div>
  </div>
{% endblock %}
