{% extends "base.html" %}

{% block content %}
<h1>Onboard Organisation</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="org_name">Organisation Name:</label>
        {{ form.orgName(size=30, class="form-control", id="org_name") }}
    </div>
    <div class="form-group">
        <label for="org_email">Organisation Email:</label>
        {{ form.orgEmailid(size=30, class="form-control", id="org_email", autocomplete="on") }}
    </div>
    <div class="checkbox">
        <label><input type="checkbox" id="tech_contact" name="tech_contact">Technical Contact:</label>
    </div>
    <button type="submit" class="btn btn-default" value="Onboard Organisation">Onboard Organisation</button>
</form>
{% endblock %}
{% block footer %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>

<script  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
         integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
         crossorigin="anonymous"></script>

  <script>
  $( function() {
    var availableInfo = {{orgData | safe}};
    $( "#org_email" ).autocomplete({
      source: availableInfo['EmailIds']
    });
    $( "#org_name" ).autocomplete({
      source: availableInfo['Organisations']
    });
  } );
  </script>
{% endblock %}