{% extends "base.html" %}

{% block content %}
  <h1>Onboard Organisation</h1>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label for="org_name">Organisation Name:</label>
      {{ form.orgName(size=30, class="form-control", id="org_name") }}
    </div>
    <div class="form-group">
      <label for="org_email">Organisation Email:</label>
      {{ form.orgEmailid(size=30, class="form-control", id="org_email", autocomplete="on") }}
    </div>
    <div class="checkbox">
      <label><input type="checkbox" id="tech_contact" name="tech_contact" style="width: 15px; height: 15px;">Technical Contact</label>
    </div>
    <button type="submit" class="btn btn-default" value="Onboard Organisation">Onboard Organisation</button>
  </form>
{% endblock %}
{% block footer %}
  {{ super() }}
  <script>
$( function() {
  var orgInfo = {{ org_info | tojson }};
  $( "#org_name" ).autocomplete({
    source: Object.keys(orgInfo),
    select: function(event, ui) {
      $("#org_email").val(orgInfo[ui.item.value]);
      $("#org_email").focus();
    }
  });
});
  </script>
{% endblock %}
