{% extends "base.html" %}
{% from "macros.html" import render_field %}

{% block content %}
  <table class="table table-striped table-bordered table-hover model-list">
    <thead>
      <tr>
        <th class="column-header">
          Name
        </th>
        <th class="column-header">
          Is Admin
        </th>
        <th class="column-header">
          Is Tech.Contact
        </th>
      </tr>
    </thead>
    <tbody>
  {%- for r in user_orgs %}
  <!-- {{r._meta.fields}} -->
      <tr>
        <td class="col-name">{{r.name}}</td>
        <td class="col-name">{{r.is_admin}}</td>
        <td class="col-name">{{r.is_tech_contact}}</td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
{% endblock %}
