{% extends "layout.html" %}
{% from "macros.html" import orcid_url %}
{% block content %}

  <h1>Members in {{ orgnisationname }}</h1>

  <div class="table-responsive">
    <table class="table" border="1">
      <thead>
        <tr class="info">
          <th style="text-align: center;">Email</th>
          <th style="text-align: center;">ORCID ID</th>
          <th style="text-align: center;">Employment and Education Details</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users or [] %}
          <tr class="active">
            <td align="center">{{ user.email|default("", True) }}</td>
            <td align="center">{{ orcid_url(user) }}</td>
            <td align="center">
              {% if user.orcid %}
                <a role="button" class="btn btn-info" href="{{ url_for('employment_list', user_id=user.id) }}">Employment</a> 
                <a role="button" class="btn btn-info" href="{{ url_for('edu_list', user_id=user.id) }}">Education</a> 
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a role="button" class="btn btn-info" href="{{ url_for('exportmembers') }}">Export Data</a>
  </div>

{% endblock %}
