{% extends "layout.html" %}
{% from "macros.html" import orcid_url %}
{% block content %}

  <h1>Members in {{ orgnisationname }}</h1>

  <div class="table-responsive">
    <table class="table" border="1">
      <thead>
        <tr class="info">
          <th>Name</th>
          <th>Email</th>
          <th>ORCID iD</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr class="active">
            <td> {% if user.first_name %}{{ user.first_name}} {% endif %} {% if user.last_name %}{{ user.last_name}} {% endif %} </td>
            <td>{{ user.email|default("", True) }}</td>
            <td>{{ orcid_url(user) }}</td>
            <td>
              {% if user.orcid %}
                <a role="button" class="btn btn-info" href="{{ url_for('employment_list', user_id=user.id) }}">Employment</a> 
                <a role="button" class="btn btn-info" href="{{ url_for('edu_list', user_id=user.id) }}">Education</a> 
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
