{% extends "layout.html" %}
{% block content %}

  <h1>Members in {{ orgnisationname }}</h1>

  <div class="table-responsive">
    <table class="table" border="1">
      <thead>
        <tr class="info">
          <th>Name</th>
          <th>Email</th>
          <th>ORCID iD</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr class="active">
            <td> {% if user.first_name %}{{ user.first_name}} {% endif %} {% if user.last_name %}{{ user.last_name}} {% endif %} </td>
            <td>{% if user.email %} {{ user.email }} {% endif %} </td>
            <td>{% if user.orcid %} {{ user.orcid }} {% endif %} </td>
            <td> <!--a role="button" class="btn btn-info" href="/addempdetails?email={{ user.email }}&organisationid={{ user.organisation_id }}">Add</a>
            <a role="button" class="btn btn-info" href="/viewempdetails?email={{ user.email }}&organisationid={{ user.organisation_id }}">Update</a> </td -->
          <a role="button" class="btn btn-info" href="{{ url_for('employment_list', user_id=user.id) }}">Employment</a> 
          </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
