{% extends 'admin/model/list.html' %}
{% block body %}
  <h1>{{task.filename}}</h1>
  <table class="table table-hover table-bordered searchable">
    <tbody>
      <tr>
        <td>
          <b>Task Filename</b>
        </td>
        <td>
          {{task.filename}}
        </td>
      </tr>
      <tr>
        <td>
          <b>Organisation</b>
        </td>
        <td>
          {{task.org.name}}
        </td>
      </tr>
      <tr>
        <td>
          <b>Completed At</b>
        </td>
        <td>
          {% if task.completed_at %}
            {{task.completed_at|isodate}}
          {% else %}
            &nbsp;
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <b>Submitted At</b>
        </td>
        <td>
          {{task.created_at|isodate}}
        </td>
      </tr>
    </tbody>
  </table>
<span class="pull-right">
{% include 'activate_reset_all_form.html' %}
</span>
  {{ super() }}
{% endblock %}
{% block list_row_actions %}
{{ super() }}
<div class="list-buttons-column">
{% if task.task_type == 4 %}
    <a class="icon" href="{{ url_for('affiliationexternalid.index_view', record_id=row.id, url=request.url) }}"
       title="Affiliation ExternalId">
        <spam class="fa fa-external-link glyphicon glyphicon-users icon"></spam>
    </a>
{% elif task.is_raw %}
    <a class="icon" href="{{ url_for('invitee.index_view', record_id=row.id, url=request.url) }}"
       title="Record Invitees">
        <spam class="fa fa-envelope"></spam>
    </a>
</div>
{% endif %}
{% endblock %}
