{
  "swagger" : "2.0",
  "info" : {
    "version" : "Latest",
    "title" : "ORCID Member"
  },
  "host" : "api.orcid.org",
  "tags" : [ {
    "name" : "Member API v2.0"
  }, {
    "name" : "Member API v2.1"
  }, {
    "name" : "Development Member API v3.0"
  }, {
    "name" : "Development Member API v3.0_rc1"
  }, {
    "name" : "Development Member API v3.0_rc2"
  }, {
    "name" : "resources"
  } ],
  "paths" : {
    "/v2.0/{orcid}/notification-permission/{id}" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch a notification by id",
        "description" : "",
        "operationId" : "viewPermissionNotification",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Notification found",
            "schema" : {
              "$ref" : "#/definitions/Notification"
            }
          },
          "404" : {
            "description" : "Notification not found",
            "schema" : {
              "type" : "string"
            }
          },
          "401" : {
            "description" : "Access denied, this is not your notification",
            "schema" : {
              "type" : "string"
            }
          }
        },
        "security" : [ {
          "orcid_two_legs" : [ "/premium-notification" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Archive a notification",
        "description" : "",
        "operationId" : "flagAsArchivedPermissionNotification",
        "consumes" : [ "*/*" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Notification archived",
            "schema" : {
              "$ref" : "#/definitions/Notification"
            }
          },
          "404" : {
            "description" : "Notification not found",
            "schema" : {
              "type" : "string"
            }
          },
          "401" : {
            "description" : "Access denied, this is not your notification",
            "schema" : {
              "type" : "string"
            }
          }
        },
        "security" : [ {
          "orcid_two_legs" : [ "/premium-notification" ]
        } ]
      }
    },
    "/v2.0/{orcid}/notification-permission" : {
      "post" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Add a notification",
        "description" : "",
        "operationId" : "addPermissionNotification",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/NotificationPermissionV2_0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string",
              "format" : "uri"
            }
          },
          "201" : {
            "description" : "Notification added, see HTTP Location header for URI",
            "headers" : {
              "Location" : {
                "type" : "string",
                "format" : "uri",
                "description" : "The created Notification resource"
              }
            }
          }
        },
        "security" : [ {
          "orcid_two_legs" : [ "/premium-notification" ]
        } ]
      }
    },
    "/v2.0/{orcid}/researcher-urls/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch one researcher url for an ORCID ID",
        "description" : "",
        "operationId" : "viewResearcherUrl",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ResearcherUrlsV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "put" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Edits researcher url for an ORCID ID",
        "description" : "",
        "operationId" : "editResearcherUrl",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ResearcherUrlV2_0"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Delete one researcher url from an ORCID ID",
        "description" : "",
        "operationId" : "deleteResearcherUrl",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      }
    },
    "/v2.0/{orcid}/other-names/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch Other name",
        "description" : "",
        "operationId" : "viewOtherName",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/OtherNameV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "put" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Edit other name",
        "description" : "",
        "operationId" : "editOtherName",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OtherNameV2_0"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Delete other name",
        "description" : "",
        "operationId" : "deleteOtherName",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      }
    },
    "/v2.0/{orcid}/external-identifiers/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch external identifier",
        "description" : "",
        "operationId" : "viewExternalIdentifier",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonExternalIdentifierV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "put" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Edit external identifier",
        "description" : "",
        "operationId" : "editExternalIdentifier",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PersonExternalIdentifierV2_0"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Delete external identifier",
        "description" : "",
        "operationId" : "deleteExternalIdentifier",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      }
    },
    "/v2.0/{orcid}/keywords/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch keyword",
        "description" : "",
        "operationId" : "viewKeyword",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/KeywordV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "put" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Edit keyword",
        "description" : "",
        "operationId" : "editKeyword",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/KeywordV2_0"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Delete keyword",
        "description" : "",
        "operationId" : "deleteKeyword",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      }
    },
    "/v2.0/{orcid}/work/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch a Work",
        "description" : "",
        "operationId" : "viewWork",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WorkV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "put" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Update a Work",
        "description" : "",
        "operationId" : "updateWork",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/WorkV2_0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Work updated"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/activities/update" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Delete a Work",
        "description" : "",
        "operationId" : "deleteWork",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Work deleted"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/activities/update" ]
        } ]
      }
    },
    "/v2.0/{orcid}/funding/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch a Funding",
        "description" : "",
        "operationId" : "viewFunding",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FundingV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "put" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Update a Funding",
        "description" : "",
        "operationId" : "updateFunding",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/FundingV2_0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Funding updated"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/activities/update" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Delete a Funding",
        "description" : "",
        "operationId" : "deleteFunding",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Funding deleted"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/activities/update" ]
        } ]
      }
    },
    "/v2.0/{orcid}/education" : {
      "post" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Create an Education",
        "description" : "",
        "operationId" : "createEducation",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EducationV2_0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string",
              "format" : "uri"
            }
          },
          "201" : {
            "description" : "Education created, see HTTP Location header for URI",
            "headers" : {
              "Location" : {
                "type" : "string",
                "format" : "uri",
                "description" : "The created Education resource"
              }
            }
          },
          "400" : {
            "description" : "Invalid Education representation",
            "schema" : {
              "type" : "string"
            }
          },
          "500" : {
            "description" : "Invalid Education representation that wasn't trapped (bad fuzzy date or you tried to add a put code)",
            "schema" : {
              "type" : "string"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      }
    },
    "/v2.0/{orcid}/education/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch an Education",
        "description" : "",
        "operationId" : "viewEducation",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/EducationV2_0"
            }
          },
          "404" : {
            "description" : "putCode not found",
            "schema" : {
              "type" : "string"
            }
          },
          "400" : {
            "description" : "Invalid putCode or ORCID ID",
            "schema" : {
              "type" : "string"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "put" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Update an Education",
        "description" : "",
        "operationId" : "updateEducation",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EducationV2_0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Education updated"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/activities/update" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Delete an Education",
        "description" : "",
        "operationId" : "deleteEducation",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Education deleted"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/activities/update" ]
        } ]
      }
    },
    "/v2.0/{orcid}/employment" : {
      "post" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Create an Employment",
        "description" : "",
        "operationId" : "createEmployment",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EmploymentV2_0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string",
              "format" : "uri"
            }
          },
          "201" : {
            "description" : "Employment created, see HTTP Location header for URI",
            "headers" : {
              "Location" : {
                "type" : "string",
                "format" : "uri",
                "description" : "The created Education resource"
              }
            }
          },
          "400" : {
            "description" : "Invalid Employment representation",
            "schema" : {
              "type" : "string"
            }
          },
          "500" : {
            "description" : "Invalid Employment representation that wasn't trapped (bad fuzzy date or you tried to add a put code)",
            "schema" : {
              "type" : "string"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/activities/update" ]
        } ]
      }
    },
    "/v2.0/{orcid}/employment/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch an Employment",
        "description" : "",
        "operationId" : "viewEmployment",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EmploymentV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "put" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Update an Employment",
        "description" : "",
        "operationId" : "updateEmployment",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EmploymentV2_0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Employment updated"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/activities/update" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Delete an Employment",
        "description" : "",
        "operationId" : "deleteEmployment",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Employment deleted"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/activities/update" ]
        } ]
      }
    },
    "/v2.0/group-id-record/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch a Group",
        "description" : "",
        "operationId" : "viewGroupIdRecord",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/GroupIdRecord"
            }
          }
        },
        "security" : [ {
          "orcid_two_legs" : [ "/group-id-record/read" ]
        } ]
      },
      "put" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Update a Group",
        "description" : "",
        "operationId" : "updateGroupIdRecord",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/GroupIdRecord"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Peer Review updated"
          }
        },
        "security" : [ {
          "orcid_two_legs" : [ "/group-id-record/update" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Delete a Group",
        "description" : "",
        "operationId" : "deleteGroupIdRecord",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Group deleted"
          }
        },
        "security" : [ {
          "orcid_two_legs" : [ "/group-id-record/update" ]
        } ]
      }
    },
    "/v2.0/group-id-record" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch Groups",
        "description" : "",
        "operationId" : "viewGroupIdRecords",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "page-size",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "100"
        }, {
          "name" : "page",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "1"
        }, {
          "name" : "name",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "group-id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/GroupIdRecords"
            }
          }
        },
        "security" : [ {
          "orcid_two_legs" : [ "/group-id-record/read" ]
        } ]
      },
      "post" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Create a Group",
        "description" : "",
        "operationId" : "createGroupIdRecord",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/GroupIdRecord"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Group created, see HTTP Location header for URI",
            "headers" : {
              "Location" : {
                "type" : "string",
                "format" : "uri",
                "description" : "The created Group resource"
              }
            }
          },
          "400" : {
            "description" : "Invalid Group representation",
            "schema" : {
              "type" : "string"
            }
          }
        },
        "security" : [ {
          "orcid_two_legs" : [ "/group-id-record/update" ]
        } ]
      }
    },
    "/v2.0/{orcid}/address" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch all addresses of a profile",
        "description" : "",
        "operationId" : "viewAddresses",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AddressesV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "post" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Add an address",
        "description" : "",
        "operationId" : "createAddress",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AddressV2_0"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      }
    },
    "/v2.0/{orcid}/other-names" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch Other names",
        "description" : "",
        "operationId" : "viewOtherNames",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/OtherNamesV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "post" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Add other name",
        "description" : "",
        "operationId" : "createOtherName",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OtherNameV2_0"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      }
    },
    "/v2.0/{orcid}/keywords" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch keywords",
        "description" : "",
        "operationId" : "viewKeywords",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/KeywordsV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "post" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Add keyword",
        "description" : "",
        "operationId" : "createKeyword",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/KeywordV2_0"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      }
    },
    "/v2.0/{orcid}/external-identifiers" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch external identifiers",
        "description" : "",
        "operationId" : "viewExternalIdentifiers",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonExternalIdentifiersV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "post" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Add external identifier",
        "description" : "",
        "operationId" : "createExternalIdentifier",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PersonExternalIdentifierV2_0"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      }
    },
    "/v2.0/{orcid}/researcher-urls" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch all researcher urls for an ORCID ID",
        "description" : "",
        "operationId" : "viewResearcherUrls",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ResearcherUrlsV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "post" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Add a new researcher url for an ORCID ID",
        "description" : "",
        "operationId" : "createResearcherUrl",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ResearcherUrlV2_0"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      }
    },
    "/v2.0/{orcid}/work" : {
      "post" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Create a Work",
        "description" : "",
        "operationId" : "createWork",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/WorkV2_0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string",
              "format" : "uri"
            }
          },
          "201" : {
            "description" : "Work created, see HTTP Location header for URI",
            "headers" : {
              "Location" : {
                "type" : "string",
                "format" : "uri",
                "description" : "The created Education resource"
              }
            }
          },
          "400" : {
            "description" : "Invalid Work representation",
            "schema" : {
              "type" : "string"
            }
          },
          "500" : {
            "description" : "Invalid Work representation that wasn't trapped (bad fuzzy date or you tried to add a put code)",
            "schema" : {
              "type" : "string"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/activities/update" ]
        } ]
      }
    },
    "/v2.0/{orcid}/works" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch all works",
        "description" : "",
        "operationId" : "viewWorks",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WorksSummaryV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "post" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Create a list of Work",
        "description" : "",
        "operationId" : "createWorks",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/WorkBulkV2_0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "At least one of the works was created",
            "headers" : {
              "Location" : {
                "type" : "string",
                "format" : "uri",
                "description" : "The created Education resource"
              }
            }
          },
          "400" : {
            "description" : "Invalid Work representation",
            "schema" : {
              "type" : "string"
            }
          },
          "500" : {
            "description" : "Invalid Work representation that wasn't trapped (bad fuzzy date or you tried to add a put code)",
            "schema" : {
              "type" : "string"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/activities/update" ]
        } ]
      }
    },
    "/v2.0/{orcid}/funding" : {
      "post" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Create a Funding",
        "description" : "",
        "operationId" : "createFunding",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/FundingV2_0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string",
              "format" : "uri"
            }
          },
          "201" : {
            "description" : "Funding created, see HTTP Location header for URI",
            "headers" : {
              "Location" : {
                "type" : "string",
                "format" : "uri",
                "description" : "The created Education resource"
              }
            }
          },
          "400" : {
            "description" : "Invalid Funding representation",
            "schema" : {
              "type" : "string"
            }
          },
          "500" : {
            "description" : "Invalid Funding representation that wasn't trapped (bad fuzzy date or you tried to add a put code)",
            "schema" : {
              "type" : "string"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/activities/update" ]
        } ]
      }
    },
    "/v2.0/{orcid}/peer-review" : {
      "post" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Create a Peer Review",
        "description" : "",
        "operationId" : "createPeerReview",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PeerReviewV2_0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string",
              "format" : "uri"
            }
          },
          "201" : {
            "description" : "Peer Review created, see HTTP Location header for URI",
            "headers" : {
              "Location" : {
                "type" : "string",
                "format" : "uri",
                "description" : "The created Education resource"
              }
            }
          },
          "400" : {
            "description" : "Invalid Peer Review representation",
            "schema" : {
              "type" : "string"
            }
          },
          "500" : {
            "description" : "Invalid Peer Review representation that wasn't trapped (bad fuzzy date or you tried to add a put code)",
            "schema" : {
              "type" : "string"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/activities/update" ]
        } ]
      }
    },
    "/v2.0/{orcid}/peer-review/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch a Peer Review",
        "description" : "",
        "operationId" : "viewPeerReview",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PeerReviewV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "put" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Update a Peer Review",
        "description" : "",
        "operationId" : "updatePeerReview",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PeerReviewV2_0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Peer Review updated"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/activities/update" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Delete a Peer Review",
        "description" : "",
        "operationId" : "deletePeerReview",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Peer Review deleted"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/activities/update" ]
        } ]
      }
    },
    "/v2.0/{orcid}/activities" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch all activities",
        "description" : "",
        "operationId" : "viewActivities",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ActivitiesSummaryV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ],
        "externalDocs" : {
          "description" : "Activities XML Schema",
          "url" : "https://raw.githubusercontent.com/ORCID/ORCID-Source/master/orcid-model/src/main/resources/record_2.0/activities-2.0.xsd"
        }
      }
    },
    "/v2.0/{orcid}/funding/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch a Funding Summary",
        "description" : "",
        "operationId" : "viewFundingSummary",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FundingSummaryV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      }
    },
    "/v2.0/{orcid}/fundings" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch all fundings",
        "description" : "",
        "operationId" : "viewFundings",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FundingsV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      }
    },
    "/v2.0/{orcid}/education/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch an Education summary",
        "description" : "",
        "operationId" : "viewEducationSummary",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EducationSummaryV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      }
    },
    "/v2.0/{orcid}/educations" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch all educations",
        "description" : "",
        "operationId" : "viewEducations",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EducationsSummaryV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      }
    },
    "/v2.0/{orcid}/employment/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch an Employment Summary",
        "description" : "",
        "operationId" : "viewEmploymentSummary",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EmploymentSummaryV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      }
    },
    "/v2.0/{orcid}/employments" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch all employments",
        "description" : "",
        "operationId" : "viewEmployments",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EmploymentsSummaryV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      }
    },
    "/v2.0/{orcid}/peer-review/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch a Peer Review Summary",
        "description" : "",
        "operationId" : "viewPeerReviewSummary",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PeerReviewSummaryV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      }
    },
    "/v2.0/{orcid}/peer-reviews" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch all peer reviews",
        "description" : "",
        "operationId" : "viewPeerReviews",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PeerReviewsV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      }
    },
    "/v2.0/{orcid}/email" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch all emails for an ORCID ID",
        "description" : "",
        "operationId" : "viewEmails",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EmailsV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      }
    },
    "/v2.0/{orcid}/personal-details" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch personal details for an ORCID ID",
        "description" : "",
        "operationId" : "viewPersonalDetails",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonalDetailsV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      }
    },
    "/v2.0/{orcid}/work/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch a Work Summary",
        "description" : "",
        "operationId" : "viewWorkSummary",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WorkSummaryV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      }
    },
    "/v2.0/{orcid}/works/{putCodes}" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch specified works",
        "description" : "",
        "operationId" : "viewSpecifiedWorks",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCodes",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WorkBulkV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      }
    },
    "/v2.0/{orcid}/address/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch an address",
        "description" : "",
        "operationId" : "viewAddress",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AddressV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "put" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Edit an address",
        "description" : "",
        "operationId" : "editAddress",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AddressV2_0"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Delete an address",
        "description" : "",
        "operationId" : "deleteAddress",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      }
    },
    "/v2.0/{orcid}/biography" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Get biography details",
        "description" : "",
        "operationId" : "viewBiography",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/BiographyV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      }
    },
    "/v2.0/{orcid}/person" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch person details",
        "description" : "",
        "operationId" : "viewPerson",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      }
    },
    "/v2.0/{orcid}" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch record details",
        "description" : "",
        "operationId" : "viewRecord",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RecordV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ],
        "externalDocs" : {
          "description" : "Record XML Schema",
          "url" : "https://raw.githubusercontent.com/ORCID/ORCID-Source/master/orcid-model/src/main/resources/record_2.0/record-2.0.xsd"
        }
      }
    },
    "/v2.0/search" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Search records",
        "description" : "",
        "operationId" : "searchByQuery",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/SearchV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_two_legs" : [ "/read-public" ]
        } ],
        "externalDocs" : {
          "description" : "Record XML Schema",
          "url" : "https://raw.githubusercontent.com/ORCID/ORCID-Source/master/orcid-model/src/main/resources/record_2.0/search-2.0.xsd"
        }
      }
    },
    "/v2.0/client/{client_id}" : {
      "get" : {
        "tags" : [ "Member API v2.0" ],
        "summary" : "Fetch client details",
        "description" : "",
        "operationId" : "viewClient",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "pattern" : "[^/]+"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ClientSummary"
            }
          }
        },
        "security" : [ {
          "orcid_two_legs" : [ "/read-public" ]
        } ],
        "externalDocs" : {
          "description" : "Record XML Schema",
          "url" : "https://raw.githubusercontent.com/ORCID/ORCID-Source/master/orcid-model/src/main/resources/record_2.0/record-2.0.xsd"
        }
      }
    },
    "/v2.1/{orcid}/notification-permission/{id}" : {
      "get" : {
        "tags" : [ "Member API v2.1" ],
        "summary" : "Fetch a notification by id",
        "description" : "",
        "operationId" : "viewPermissionNotificationV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Notification found",
            "schema" : {
              "$ref" : "#/definitions/Notification"
            }
          },
          "404" : {
            "description" : "Notification not found",
            "schema" : {
              "type" : "string"
            }
          },
          "401" : {
            "description" : "Access denied, this is not your notification",
            "schema" : {
              "type" : "string"
            }
          }
        },
        "security" : [ {
          "orcid_two_legs" : [ "/premium-notification" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Member API v2.1" ],
        "summary" : "Archive a notification",
        "description" : "",
        "operationId" : "flagAsArchivedPermissionNotificationV21",
        "consumes" : [ "*/*" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Notification archived",
            "schema" : {
              "$ref" : "#/definitions/Notification"
            }
          },
          "404" : {
            "description" : "Notification not found",
            "schema" : {
              "type" : "string"
            }
          },
          "401" : {
            "description" : "Access denied, this is not your notification",
            "schema" : {
              "type" : "string"
            }
          }
        },
        "security" : [ {
          "orcid_two_legs" : [ "/premium-notification" ]
        } ]
      }
    },
    "/v2.1/{orcid}/notification-permission" : {
      "post" : {
        "tags" : [ "Member API v2.1" ],
        "summary" : "Add a notification",
        "description" : "",
        "operationId" : "addPermissionNotificationV21",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/NotificationPermissionV2_0"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string",
              "format" : "uri"
            }
          },
          "201" : {
            "description" : "Notification added, see HTTP Location header for URI",
            "headers" : {
              "Location" : {
                "type" : "string",
                "format" : "uri",
                "description" : "The created Notification resource"
              }
            }
          }
        },
        "security" : [ {
          "orcid_two_legs" : [ "/premium-notification" ]
        } ]
      }
    },
    "/v2.1/{orcid}/researcher-urls/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.1" ],
        "summary" : "Fetch one researcher url for an ORCID ID",
        "description" : "",
        "operationId" : "viewResearcherUrlV21",
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ResearcherUrlV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "put" : {
        "tags" : [ "Member API v2.1" ],
        "summary" : "Edits researcher url for an ORCID ID",
        "description" : "",
        "operationId" : "editResearcherUrlV21",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ResearcherUrlV2_0"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Member API v2.1" ],
        "summary" : "Delete one researcher url from an ORCID ID",
        "description" : "",
        "operationId" : "deleteResearcherUrlV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      }
    },
    "/v2.1/{orcid}/other-names/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.1" ],
        "summary" : "Fetch Other name",
        "description" : "",
        "operationId" : "viewOtherNameV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/OtherNameV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "put" : {
        "tags" : [ "Member API v2.1" ],
        "summary" : "Edit other name",
        "description" : "",
        "operationId" : "editOtherNameV21",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OtherNameV2_0"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Member API v2.1" ],
        "summary" : "Delete other name",
        "description" : "",
        "operationId" : "deleteOtherNameV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      }
    },
    "/v2.1/{orcid}/external-identifiers/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.1" ],
        "summary" : "Fetch external identifier",
        "description" : "",
        "operationId" : "viewExternalIdentifierV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonExternalIdentifierV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "put" : {
        "tags" : [ "Member API v2.1" ],
        "summary" : "Edit external identifier",
        "description" : "",
        "operationId" : "editExternalIdentifierV21",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PersonExternalIdentifierV2_0"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Member API v2.1" ],
        "summary" : "Delete external identifier",
        "description" : "",
        "operationId" : "deleteExternalIdentifierV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      }
    },
    "/v2.1/{orcid}/keywords/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.1" ],
        "summary" : "Fetch keyword",
        "description" : "",
        "operationId" : "viewKeywordV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/KeywordV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "put" : {
        "tags" : [ "Member API v2.1" ],
        "summary" : "Edit keyword",
        "description" : "",
        "operationId" : "editKeywordV21",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/KeywordV2_0"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Member API v2.1" ],
        "summary" : "Delete keyword",
        "description" : "",
        "operationId" : "deleteKeywordV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/person/update" ]
        } ]
      }
    },
    "/v2.1/{orcid}/work/{putCode}" : {
      "get" : {
        "tags" : [ "Member API v2.1" ],
        "summary" : "Fetch a Work",
        "description" : "",
        "operationId" : "viewWorkV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WorkV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      },
      "put" : {
        "tags" : [ "Member API v2.1" ],
        "summary" : "Update a Work",
        "description" : "",
        "operationId" : "updateWorkV21",
        "consumes" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
[...]
