
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{subject}}</title>
    <meta name="keywords" content="ORCID HUB,New Zealand,NZ,orcid"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div style="font-family: Arial, Verdana, Georgia, and Times New Roman;">
      <img src="{{url_for('static', filename='images/banner.svg', _external=True)}}" alt="NZ ORCID Hub" style="with:100%;" />
      <img src="https://test.orcidhub.org.nz/static/images/banner.png" title="NZ ORCID Hub" alt="NZ ORCID Hub" style="with:100%; display:block;" />
      <h2 class="display-2">Welcome To The NZ ORCID Hub</h2>
      <p>A service provided to link New Zealand's researchers with their organisations and funders in ORCID.</p>
      <p>Your organisation is just one step from being onboarded onto the NZ ORCID Hub
      please click on the link below to confirm your role as Tech Contact:
      <a href="{{ url_for('confirm_organisation', token=token, _external=True) }}">Onboard {{org_name}}</a> 
      or copy and paste the affiliation token <strong>{{ token }}</strong> to <a href="{{ url_for('confirm_organisation', token=token, _external=True) }}">Onboard {{org_name}}</a>
      <hr>
      <p>This email was sent to {{recipient["email"]}}</p>
      <!--  Footer Details -->
      <table style="vertical-align: top; background-color: black; color: white; width: 100%; margin-top: 25px;">
        <tr>
          <td>
            <p style="vertical-align: top; padding-left: 15px;">
            Contact details for the NZ ORCID Hub<br>
            Phone: (04) 472 7421<br>
            PO Box 598, Wellington 6140<br>
            <b><a style="text-decoration: none; color: white;"
                  href="mailto:orcid@royalsociety.org.nz">orcid@royalsociety.org.nz</a></b>
            </p>
          </td>
          <td style="vertical-align: top;">
            <p style="padding-right: 15px; text-align:right;">CC-BY-NC 2017 Royal Society of New Zealand</p>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
