{% extends "email/base.html" %}
{% block content %}
  <h2 class="display-2">Welcome to the NZ ORCID Hub</h2>
  <p>Welcome!</p>
  <p>{{org_name}} has sent you an invite to get you affiliated...</p>
  <p>Please click on the link below to login on ORCIDHUB via ORCID<br>
  <a href="{{ url_for('orcid_login', invitation_token=invitation_token, _external=True) }}">
    {{ url_for('orcid_login', invitation_token=invitation_token, _external=True) | shorturl }}
  </a><br>
  <p>
  Once you click this link, you'll be taken to ORCID to sign in to, or create, your ORCID record.
  Once you've granted permission, you'll be automatically taken to the Hub.
  Note no further action from you is needed.
  In the next minute or so, the affiliation will be shown in your ORCID record.
  </p>
{% endblock %}
